<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SoftvSection" type="SoftvConfiguration.SoftvSection, SoftvConfiguration"/>
  </configSections>
  <connectionStrings>

    

    <!-- <add name="ConnectionString" connectionString="Server=172.16.126.44;Database=BifrostSoftv;User Id=sa;Password=0601x-2L;" providerName="System.Data.SqlClient"/>-->
    <!-- <add name="ConnectionStringFailover" connectionString="Server=172.16.126.44;Database=BifrostSoftv;User Id=sa;Password=0601x-2L;" providerName="System.Data.SqlClient"/>-->

    <add name="ConnectionString" connectionString="Server=Jano-PC\SQL2014V2;Database=BifrostSoftv;User Id=sa;Password=06011975;" providerName="System.Data.SqlClient"/>
    <add name="ConnectionStringFailover" connectionString="Server=Jano-PC\SQL2014V2;Database=BifrostSoftv;User Id=sa;Password=06011975;" providerName="System.Data.SqlClient"/>



  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="NoRegisterInBitacoraModules" value="BITACORA,MODULE"/>
    <add key="NoRegisterInBitacoraStartWith" value="GET"/>
    <add key="wcf:serviceHostingEnvironment:useClassicReadEntityBodyMode" value="true" />
  </appSettings>
  <system.web>
    <compilation targetFramework="4.5" debug="true"/>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
<bindings>
   <webHttpBinding>
    <binding 
      maxBufferPoolSize="2147483647" 
      maxReceivedMessageSize="2147483647" 
      maxBufferSize="2147483647" transferMode="Streamed">
    </binding>  
   </webHttpBinding>
</bindings>
    <services>
      <service name="SoftvWCFService.SoftvWCFService" behaviorConfiguration="ServiceBehaviour">
        <!-- Service Endpoints -->
        <!-- Unless fully qualified, address is relative to base address supplied above -->
        <!--<endpoint Address ="Estado" binding="webHttpBinding" contract="SoftvWCFService.Contracts.IEstado" behaviorConfiguration="web"/>
        <endpoint Address ="Municipio" binding="webHttpBinding" contract="SoftvWCFService.Contracts.IMunicipio" behaviorConfiguration="web"/>-->
        <endpoint address="Usuario" binding="webHttpBinding" contract="SoftvWCFService.Contracts.IUsuario" behaviorConfiguration="web"/>
        <endpoint address="Secutity" binding="webHttpBinding" contract="SoftvWCFService.Contracts.ISecutity" behaviorConfiguration="web"/>
        <endpoint address="Session" binding="webHttpBinding" contract="SoftvWCFService.Contracts.ISession" behaviorConfiguration="web"/>
        <endpoint address ="Module" binding="webHttpBinding" contract="SoftvWCFService.Contracts.IModule" behaviorConfiguration="web"/>
        <endpoint address ="Role" binding="webHttpBinding" contract="SoftvWCFService.Contracts.IRole" behaviorConfiguration="web"/>
        <endpoint address ="Permiso" binding="webHttpBinding" contract="SoftvWCFService.Contracts.IPermiso" behaviorConfiguration="web"/>
        <endpoint address ="Administracion" binding="webHttpBinding" contract="SoftvWCFService.Contracts.IAdministracion" behaviorConfiguration="web"/>
        <endpoint address ="Cablemodem" binding="webHttpBinding" contract="SoftvWCFService.Contracts.ICablemodem" behaviorConfiguration="web"/>
        <endpoint address ="CMTS" binding="webHttpBinding" contract="SoftvWCFService.Contracts.ICMTS" behaviorConfiguration="web"/>


        <endpoint address ="Terminal" binding="webHttpBinding" contract="SoftvWCFService.Contracts.ITerminal" behaviorConfiguration="web"/>
        <endpoint address ="UsuarioSystem" binding="webHttpBinding" contract="SoftvWCFService.Contracts.IUsuarioSystem" behaviorConfiguration="web"/>
        
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceBehaviour">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="web">
          <webHttp/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https"/>
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
  <system.webServer>
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>-->
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>